# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# not a code
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.pdf
*.jpg
*.png
*.jpeg
*.zip
*.rar
*.7z
*.txt
*.csv
*.html

/.vscode
Codes.code-workspace